.benefits{
  margin-bottom: 130px;
}

.benefits__wrap{
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px; 
}

.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic{
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb{
  display: block;
}

.benefits__card-title{
  font-weight: 500;
  line-height: 24px;
  color: #000;
  margin-bottom: 26px;
}

.benefits__card-desc{
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 39px;
}

.benefits__card-more{
  display: inline-block;
  padding-right: 90px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  background: url(../img/right-arrow.svg) no-repeat 95% center;
  transition: .2s all;

  &:hover,
  &:focus{
    background: url(../img/right-arrow.svg) no-repeat right center;
  }
}